<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336523384032-7862inp42q6g36rqcihv325gkh3022si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336523384032-7862inp42q6g36rqcihv325gkh3022si</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336523384032-ikls764948ev0nh1tprqh37l69rkv5ck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2KwbdSwiTltFs2lYvAQJSWH9_pHcleI8</string>
	<key>GCM_SENDER_ID</key>
	<string>336523384032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petroit.jupiter</string>
	<key>PROJECT_ID</key>
	<string>jupiter-f2c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>jupiter-f2c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336523384032:ios:3673565f1e0dd3c8</string>
	<key>DATABASE_URL</key>
	<string>https://jupiter-f2c7c.firebaseio.com</string>
</dict>
</plist>